@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article h1 {
  @apply text-2xl;
}
article h2 {
  @apply text-xl;
}
article p, h1, h2 {
  @apply my-4;
}
article strong {
  @apply text-pink-700 font-medium;
}
article li {
  @apply list-disc ml-4;
}



html,
body {
  padding: 0;
  margin: 0;
  height: 200vh;
  background: white;
}

.headline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 10vh;
}

.inset {
  position: absolute;
  inset: 0;
  z-index: 82309712837981273;
}
.white {
  color: white;
}
.gray {
  color: #446;
}

.full {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}
